.splash{
    height: 100%;
    padding: 0;
    overflow: hidden;
}
.splash_flex{
    text-align: center;
}
.splash_layout{
    height: 100%;
}
.splash_text{
    font-weight: bold;
    font-size: 20px;
}