@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
.home{
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    overflow: hidden;
}
.home::before{
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./home_main.jpg');
    background-size: cover;
    opacity: 0.2;
}
.home_layout{
    height: 100%;
}
.home_flex{
    text-align: center;
}
.order{
    text-align: left;
    font-size: 30px;
    font-weight: 600;
}
.mbti_question{
    font-size: 27px;
    text-align: left;
    font-weight: 600;
}
.mbti_answer{
    font-size:25px;
    background: #ff385c;
    color: #fff;
    border: none;
    position: relative;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 10px;
}
.mbti_answer:hover{
    background: #fff;
    color: #ff385c;
}
.mbti_answer::before,.mbti_answer::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #ff385c;
    transition: 400ms ease all;
}
.mbti_answer::after{
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.mbti_answer:hover::before,.mbti_answer:hover::after{
    width: 100%;
    transition: 800ms ease all;
}


@media(max-width:960px){
    .mbti_answer{
        font-size: 20px;
    }
}
@media(max-width:600px){
    .mbti_answer{
        font-size: 18px;
    }
}
@media(max-width:400px){
    .mbti_answer{
        font-size: 16px;
    }
    .mbti_question{
        font-size: 20px;
    }
}