@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
.result{
    height: 100%;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.result_layout{
    height: 100%;
}
.result_flex{
    text-align: center;
}
.mbti_type{
    font-size: 50px;
    text-align: left;
}
.mbti_location{
    letter-spacing: 2px;
    font-size: 20px;
}
.mbti_content2{
    font-size:20px;
    font-weight: 500;
}
.mbti_share{
    cursor: pointer;
    font-size: 20px;
}
.chemi{
    color: #fff;
    background: #ff385c;
}
.result_text{
    font-size:30px;font-weight:500
}


@media(max-width:450px){
    .mbti_type{
        font-size:40px;
    }
    .mbti_content2{
        font-size:17px
    }
    .result_text{
        font-size: 20px;
    }
}