.intro{
    height: 100%;
    background:#A6E0F2;
    overflow: hidden;
}
.intro_layout{
    height: 100%;
}
.intro_flex{
    text-align: center;
    opacity: 0;
}
.fade{
    opacity: 1;
    transition: 1000ms ease all;
}
.start_btn{
    font-size: 40px;
    letter-spacing: 2px;
    cursor: pointer;
    color: #ff385c;
    background: #fff;
    font-weight: 600;
}
.start_btn:hover{
    color: #fff;
    background:#ff385c;
}

@media(max-width:600px){
    .intro_desc{
        font-size: 25px;
    }
}

